<h1><%= header %></h1>

<%= link_to 'Add product', new_product_path %>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Status</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.status? ? "" : "pending" %></td>
        <td>₱<%= product.price %></td>
        <td><%= user_action(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
